/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/07/2014, 05:16:49 PM
    Author     : USUARIO
*/

body{
    background-color: #34495e;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 85%;
    margin: 0;
}

.container{
    width: 350px;
    margin: 10% auto 0 auto;
}

.ui-widget-header{
    color: #fff;
    height: 23px;
    padding-top: 30px;
    background-color: #16a085   
}

.ui-button-text-only .ui-button-text{
    border-color: #15987e;
    color: #fff;
    background-color: #16a085;
}

#formLogin .ui-widget-content .ui-state-default{
    width: 110%;
}

.login-title{
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.navbar-top {
    height: 50px;
    background-color: #2c3e50;
    width: 100%;
}

.navbar-top h1{
    font-size: 25px;
    color: #fff;
    padding: 10px;
}

.ui-menu.ui-menubar{
    border-radius: 0px;
}

.content{
    background-color: #ecf0f1;
}

.ui-menu.ui-menubar{
    border-radius: 0px;
}

.footer{
    width: 100%;
    float:left;
}
